# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Domingos Santos\Desktop\Domingos Santos\MIEIC\2 ANO\2 SEMESTRE\CAL\FEUP-Projeto-CAL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
